@charset "UTF-8";

/* === GENERAL / ОБНУЛЕНИЕ === */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
}

.perspective {
  width: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.perspective__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotateX(55deg) rotateY(20deg) rotateZ(-45deg);
  transform: rotateX(55deg) rotateY(20deg) rotateZ(-45deg);
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
}

.perspective__items-active {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.perspective__items-active .perspective__item:hover {
  -webkit-transform: translatex(0px) translatey(0px) translateZ(0px);
  transform: translatex(0px) translatey(0px) translateZ(0px);
}

.perspective__item {
  width: 200px;
  height: 350px;
  background-color: aquamarine;
  border-radius: 10px;
  margin: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.perspective__item:hover {
  -webkit-transform: translatex(20px) translatey(-20px) translateZ(20px);
  transform: translatex(20px) translatey(-20px) translateZ(20px);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item__header {
  height: 50px;
  border-bottom: 2px solid #ffffff;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item__header span:first-child {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ffd000;
}

.item__header span {
  display: block;
  width: 100px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.item__body span {
  display: block;
  width: 90%;
  height: 4px;
  background-color: #ffd000;
  border-radius: 3px;
}

.item__body span:first-child {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
}

.item__footer {
  height: 50px;
  border-top: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.item__footer span {
  display: block;
  width: 90%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 3px;
}

.cube__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-perspective: 3000px;
  perspective: 3000px;
  -webkit-perspective-origin: center center center;
  perspective-origin: center center center;
  position: relative;
}

.board {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cube {
  width: 200px;
  height: 200px;
  -webkit-transform: rotateX(0deg) rotateY(25deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(25deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: spin 10s infinite linear;
  animation: spin 10s infinite linear;
  position: relative;
  z-index: 1;
}

.cube__side {
  width: 200px;
  height: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  position: absolute;
  opacity: .5;
}

.cube__side-1 {
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
  background-color: black;
}

.cube__side-2 {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transform: rotateX(-90deg) translateY(-100px);
  transform: rotateX(-90deg) translateY(-100px);
  background-color: red;
}

.cube__side-3 {
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotateX(90deg) translateY(100px);
  transform: rotateX(90deg) translateY(100px);
  background-color: lime;
}

.cube__side-4 {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  background-color: blue;
}

.cube__side-5 {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: rotatey(90deg) translatex(-100px);
  -ms-transform: rotatey(90deg) translatex(-100px);
  transform: rotatey(90deg) translatex(-100px);
  background-color: orangered;
}

.cube__side-6 {
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transform: rotatey(-90deg) translateX(100px);
  -ms-transform: rotatey(-90deg) translateX(100px);
  transform: rotatey(-90deg) translateX(100px);
  background-color: wheat;
}